= form_for(Chat.new, remote: true) do |f|
  #chat-form.panel.panel-primary
    #headingChat.panel-heading{style: 'cursor: pointer', role: 'tab'}
      %h4.panel-title
        %a{data: {toggle: 'collapse', parent: '#accordion'}, href: '#collapseChat', aria: {expanded: 'true', controls: 'collapseChat'}}
          %span.glyphicon.glyphicon-comment
          Chat
          %span.glyphicon.glyphicon-collapse-down.pull-right

    #collapseChat.panel-collapse.collapse.in{role: 'tabpanel', aria: {labelledby: 'headingOne'}}
      .panel-body
        .chat
          .chat-body.clearfix{ style: "height: 200px; overflow: scroll;"}

      .panel-footer
        .input-group
          %input.form-control.input-sm#btn-input{ type: "text", name: "chat[message]", placeholder: "Type your message here..."}
          %span.input-group-btn
            %input.btn.btn-warning.btn-sm#btn-chat{value: 'Send', type: 'submit'}
