// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.no-border {
 overflow: hidden;
 .no-border-body {
   margin-right: -16px;
   margin-bottom: -16px;
   overflow-y: scroll;
   overflow-x: hidden;
  }
}

.panel.panel-default {
  margin-bottom: 10px;
}
